.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-items {
   color: #fff;
   margin: 1rem;
   cursor: pointer;
}

.nav-items:hover {
  color: #282c34;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  background-color: rgb(159, 5, 36);
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  height: 10vh;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

.home-background {
  height: 92vh;
  width: 100%;
  background-image: url(/src/img/blood-donation_istock.jpg);
  background-size: cover;
  margin-top: 0;
}

.login-bg {
  height: 92vh;
  width: 100%;
  background-image: url(/src/img/blood-donation_istock.jpg);
  background-size: cover;
  margin-top: 0;
}

.req-background {
  background-image: url(./img/blood-donation_istock.jpg);
  height: 92vh;
  width: 100%;
  background-size: cover;
  margin-top: 0;
}

.donor-home {
  background-image: url('./img/Campaign_Give_Blood.png');
  height: 92vh;
  width: 100%;
  background-size: cover;
  margin-top: 0;
}

.image-overlay {
  height: 92vh;
  margin-top: 0;
  width: 100%;
  background-color: rgb(9, 9, 65, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.donor-list {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  padding-left: 20px;
}

.each-donor {
  width: 12%;
}

.donor-head {
  color: rgb(9, 9, 65);
  font-size: large;
  font-weight: bold;
}

.reg-donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  margin: auto;
  background-color: rgb(9, 9, 65, 0.8);
  border-radius: 8px;
}

.donation-page {
  height: 78vh;
  background-color: #D3D3D3;
  padding-top: 5rem;
}

.donation-input {
  width: 30rem;
  padding: 10px;
  margin-top: 10px;
  border-style: none;
  border-radius: 5px;
}

.donation-btn {
  margin-top: 13px;
  width: 15rem;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(9, 9, 65);
  border-style: none;
  color: thistle;
}

.blood-request {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.approve-reject {
  width: 50%;
  align-self: center;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  color: #fff;
}

.request-input {
  width: 30rem;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
}

.request-button {
  width: 20rem;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(9, 9, 65, 0.8);
  border-style: none;
  border-radius: 8px;
  color: #fff;
}

.bg-container {
  padding: 40px;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color:	#D3D3D3;
  
}

.group-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 30px;
  
}

.totals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 100px;
}

.blood-group {
  height: 8rem;
  background-color: #fff;
  border-radius: 8px;
}

.bg-text {
  color: thistle;
}

.bank-list {
 width: 40rem;
 height: 14rem;
 margin: auto;
 margin-top: 10px;
 background-color: rgb(9, 9, 65, 0.8);
 padding: 10px;
 border-radius: 8px;
 
}

.bank-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.donor_reg {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  padding: 20px;
  margin: auto;
  align-items: center;
}

.donor_registration {
  background-image: url(./img/blood-donation_istock.jpg);
  height: 92vh;
  width: 100%;
  background-size: cover;
  margin-top: 0;
}

.donor-input {
  width: 20rem;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
 
}

.donor-btn {
  width: 10rem;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgb(9, 9, 65, 0.8);
  border-radius: 8px;
  border-style: none;
}

.donor-button {
  width: 21rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.donor-button:hover {
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
